#CardSlot {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
#CardSlot a:hover{
    text-decoration: none;
}
.Cards {
	width: 380px;
    display: flex;
    flex-direction: column;
	background: rgba(181, 170, 181, 0.3);
	border: solid;
	border-radius: 40px;
	margin-bottom: 20px;
    text-decoration: none;
    font-weight: normal;
    height: 580px;
}
.Cards img {
	width: 100%;	
}

.Cards h4 {
	border-radius: 40px 40px 0px 0px;
	text-decoration: underline;
    margin: 5px;
    margin-bottom: 0px;
    margin-top: 0px;

}

.Cards img{
    height: 200px;
}
.Cards a:hover{
    text-decoration: none;
}
.CardsDeets {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid black;
}
.CardsDeets p {
    margin: 0px;
}

.CardsDesc {
}

.CardsTech{
    margin-bottom: 0;
    padding-bottom: 0;
}

.CardsDate{
    border-top: 2px solid black;
    margin-top: auto;
    
}

.CardsDate p, a {
    /*padding: 0px;*/
    
}
        


/*.Cards p, h4, a{
text-decoration: none;
	margin: 0;
	padding: 5px;
}
.Cards p, a {
	border-radius: 0px 0px 35px 35px;
	font-weight: normal;
}

.Cards h4 {
	border-radius: 40px 40px 0px 0px;
	text-decoration: underline;
}

.CardsDate{
    align-self: flex-end;
    border-top: 2px solid black;
}

.CardsDate p, a {
    padding: 0px;

        
}*/

@media only screen and (max-width: 769px) {
}
@media only screen and (max-width: 1150px) and (min-width: 770px) {
}